@model ComplaintTracker.Models.ModelSystemAvaialablity
@{
    ViewBag.Title = "FalseClosureComplaint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function searchreq() {
        var dataObject = new Object();
        dataObject.ComplaintNo = $('#ComplaintNo').val();
        myTable = $('#DPaging').dataTable({
            "ajax": {
                "url": "/Penalty/GetFalseComplaint/",
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    d.ComplaintNo = dataObject.ComplaintNo;
                }
            },
            "destroy": true,
            "lengthMenu": [[10, 20, 50, 100, 150], [10, 20, 50, 100, 150]],
            "pageLength": 50,
            "processing": true,
            "serverSide": true,
            scrollY: true,
            scrollX: true,
            "searching": false,
            ordering: false,
            "language": {
                "processing": '<i class="fa fa-spinner fa-spin fa-4x fa-fw" style="color:#3B3B96;"></i><span class="sr-only">Loading...</span>'
            },
            dom: 'Blfrtip',
            buttons: [
                'colvis'
            ],
            "columns": [
                { 'data': 'KNO' },
                { 'data': 'NAME' },
                { 'data': 'MOBILE_NO' },
                { 'data': 'COMPLAINT_DATE' },
                { 'data': 'COMPLAINT_NO' },
                { 'data': 'OFFICE_NAME' },
                { 'data': 'COMPLAINT_TYPE' },
            ],

        });
    }


</script>


<div class="header">
    <h1 class="header-title">
        False Complaint Information
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">False Complaint Information</li>
        </ol>
    </nav>
</div>
@using (Html.BeginForm("SaveFalseComplaint", "Penalty", FormMethod.Post))
{
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Search By</h5>
                    <h6 class="card-subtitle text-muted">
                        Search with
                    </h6>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12 col-lg-3">
                            <label for="ComplaintNo">Complaint No</label>
                            <input type="text" class="form-control" id="ComplaintNo" name="ComplaintNo" />
                        </div>
                        <div class="col-12 col-lg-3 mt-3">
                            <input type="button" value="Search" class="btn btn-dark btn-block" id="btnSearch" onclick="searchreq()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">About Complaint Details</h5>
                    <h6 class="card-subtitle text-muted">
                        Description of Report
                    </h6>
                </div>
                <div class="card-body">
                    <table id="DPaging" class="table table-striped table-sm" style="width:100%">
                        <thead>
                            <tr>
                                <th>KNo.</th>
                                <th>Consumer Name</th>
                                <th>Mobile No.</th>
                                <th>Date</th>
                                <th>Complaint No.</th>
                                <th>Office Name</th>
                                <th>Complaint Type</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row mb-1">
            <div class="col-md-8">
                <label for="REMARKS">Remarks</label>
                <textarea class="form-control" name="REMARKS" id="REMARKS" style="height: 147px;" value="" placeholder="Remark" required></textarea>
            </div>
        </div>
        <div class="col-md-8">
            <button type="submit" class="btn btn-success" id="btnUpdate">Update</button>
        </div>
    </div>
    

    


}
