
@{
    ViewBag.Title = "ReportPriceVariation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("", "Report", FormMethod.Post, new { name = "frm", id = "validation-form" }))
{
    <div class="header">
        <h1 class="header-title">
            Price Variation
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Dashboard/Index">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Price Variation</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Price Variation</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-2">

                        <div class="col-12 col-lg-2">
                            @*<a class="btn btn-primary btnShadow" href="#" target="_blank">Show Price Variation</a>*@
                        </div>
                    </div>
                    <div class="row mb-2">

                    </div>
                </div>
            </div>
        </div>
    </div>
}
