
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style type="text/css">
    #DPaging_previous a {
        background-color: transparent;
    }

    #DPaging_next a {
        background-color: transparent;
    }

    .paginate_button.active .page-link {
        background-color: grey !important;
        border: 1px solid black !important;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('#fromDate1').datetimepicker();
        $('#toDate1').datetimepicker();
    });
</script>


<div class="header">
    <h1 class="header-title">
        Raw Complaint
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Raw Complaint</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Search By</h5>
                <h6 class="card-subtitle text-muted">
                    Search with
                </h6>
            </div>



            <div class="card-body">
                @using (Html.BeginForm("ExportToExcelRawComplaintNewConnection", "Report", FormMethod.Post))
                {
                    <div class="row mb-3">
                        <div class="col-12 col-lg-3">
                            <div class="input-group date" id="fromDate1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#fromDate1" id="fromDate" name="fromDate" />
                                <div class="input-group-text" data-target="#fromDate1" data-toggle="datetimepicker">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="input-group date" id="toDate1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#toDate1" id="toDate" name="toDate" />
                                <div class="input-group-text" data-target="#toDate1" data-toggle="datetimepicker">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            @Html.DropDownList("ddlOfficecode", new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "ddlOfficecode" })
                        </div>

                        <div class="col-12 col-lg-1">
                            <input type="submit" value="Excel Export" class="btn btn-dark btn-block" />
                        </div>

                    </div>
                    
                }
                <div class="row mb-3">
                    <div class="col-12 col-lg-3">
                        <input type="submit" value="Search" class="btn btn-dark btn-block" id="btnSearch" onclick="searchreq()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">About Raw Complaint</h5>
                <h6 class="card-subtitle text-muted">
                    Description of Report
                </h6>
            </div>
            <div class="card-body">
                <table id="DPaging" class="table table-striped table-sm" style="width:100%">
                    <thead>
                        <tr>
                            <th>Complaint No.</th>
                            <th>SDO Code</th>
                            <th>SubDivision Name</th>
                            <th>KNO</th>
                            <th>Name</th>
                            <th>Father Name</th>
                            <th>Address</th>
                            <th>Mobile No.</th>
                            <th>Alternate Number</th>
                            <th>Complaint Type</th>
                            <th>SubComplaint Type</th>
                            <th>Outage Type</th>
                            <th>SubOutage Type</th>
                            <th>DS/NDS</th>
                            <th>Complaint Date & Time</th>
                            <th>Closed Date & Time</th>
                            <th>Duration</th>
                            <th>Complaint Status</th>
                            <th>Current Status</th>
                            <th>Created By User ID</th>
                            <th>Closed By User ID</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $(function () {
            $('#ddlOfficecode').select2({
                selectOnClose: true,
                //minimumInputLength: 2,
                //maximumInputLength: 20,
                //minimumResultsForSearch: 50,
                placeholder: "Select Office Code",
            });
            $('#ddlSource').select2({
                selectOnClose: true,
                /*placeholder: "Select Source",*/
            });
            $.ajax({
                type: "GET",
                url: '/Complaint/OfficeCodeJson',
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (result) {
                    $(result).each(function () {
                        $("#ddlOfficecode").append($("<option></option>").val(this.OfficeId).html(this.OfficeCode));
                    });
                },
                error: function (data) { }
            });
            
        });

    });
    function searchreq() {
        var Complainttype = 0;
        var dataObject = new Object();
        
        dataObject.fromdate = $('#fromDate').val();
        dataObject.todate = $('#toDate').val();
        dataObject.OfficeCode = $('#ddlOfficecode').val();

        myTable = $('#DPaging').dataTable({
            "ajax": {
                "url": "/Report/ReportRawComplaintNewConnectionSearch/",
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    d.fromdate = dataObject.fromdate;
                    d.todate = dataObject.todate;
                    d.OfficeCode = dataObject.OfficeCode;
                }
            },
            "destroy": true,
            "lengthMenu": [[10, 20, 50, 100, 150], [10, 20, 50, 100, 150]],
            "pageLength": 50,
            "processing": true,
            "serverSide": true,
            scrollY: true,
            scrollX: true,
            "searching": false,
            ordering: false,
            "language": {
                "processing": '<i class="fa fa-spinner fa-spin fa-4x fa-fw" style="color:#3B3B96;"></i><span class="sr-only">Loading...</span>'
                /*"processing": '<div class="spinner-border text-primary" role="status" ><span class="visually-hidden">Loading...</span></div>'*/
                /* "processing":  '<div class= "d-flex align-items-center" >  <strong>Loading...</strong>  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div></div>'*/
                /*"processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"  */
            },
            dom: 'Blfrtip',
            buttons: [
                'colvis'
            ],
            "columns": [
                { 'data': 'COMPLAINT_NO' },
                { 'data': 'SDO_CODE' },
                { 'data': 'SDO_NAME' },
                { 'data': 'KNO' },
                { 'data': 'NAME' },
                { 'data': 'FATHER_NAME' },
                { 'data': 'ADDRESS' },
                { 'data': 'MOBILE_NO' },
                { 'data': 'ALTERNATE_MOBILE_NO' },
                { 'data': 'COMPLAINT_TYPE' },
                { 'data': 'SUB_COMPLAINT_TYPE' },
                { 'data': 'OUTAGE_TYPE' },
                { 'data': 'SUB_OUTAGE_TYPE' },
                { 'data': 'DS_NDS' },
                { 'data': 'COMPLAINT_DATE_TIME' },
                { 'data': 'CLOSED_DATE_TIME' },
                { 'data': 'DURATION' },
                { 'data': 'COMPLAINT_STATUS' },
                { 'data': 'CURRENT_STATUS' },
                { 'data': 'CREATED_BY_USER' },
                { 'data': 'CLOSED_BY_USER' },
            ],

        });
    }



</script>
