
@{
    ViewBag.Title = "ReportFRTTracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ReportRepetedComplaint", "Report", FormMethod.Post, new { name = "frm", id = "validation-form" }))
{
    <div class="header">
        <h1 class="header-title">
            FRT Tracking
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Dashboard/Index">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">FRT Tracking</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">FRT Tracking (Bikaner, Jodhpur)</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-2">

                        <div class="col-12 col-lg-2">
                            <a class="btn btn-primary btnShadow" href="https://track.letstrack.com/ShareWebLink.aspx?gid=6164e454-c6da-4ff1-9742-d802dbcd3509&eml=N" target="_blank">Track FRT</a>
                        </div>
                    </div>
                    <div class="row mb-2">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">FRT Tracking (Badmer, Jodhpur)</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-2">

                        <div class="col-12 col-lg-2">
                            <a class="btn btn-primary btnShadow" href="https://wheelseye.com/" target="_blank">Track FRT</a>
                        </div>
                    </div>
                    <div class="row mb-2">

                    </div>
                </div>
            </div>
        </div>
    </div>
}
