USE [AVVNL_CALL_CENTER]
GO
/****** Object:  StoredProcedure [dbo].[RANDOMIZER]    Script Date: 10-05-2023 10:35:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<SONAL>
-- Create date: <10-FEB-2023>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[RANDOMIZER]
	@FROM_DATE DATETIME=NULL,
	@TO_DATE DATETIME=NULL,
	@COUNT INT=0,
	@STARTROWINDEX INT=150, 
	@MAXIMUMROWS INT =150, 
	@TOTALRECORDS INT=1000 OUTPUT  
AS
BEGIN
IF(ISNULL(@COUNT,0)=0 OR @COUNT='')
	BEGIN
		SELECT * INTO #TEMP FROM (
		SELECT ROW_NUMBER() OVER( ORDER BY A.TIME_STAMP) ROW_NUM,A.KNO,A.OFFICE_CODE,B.OFFICE_NAME SDO,A.NAME 'CONSUMER_NAME',A.MOBILE_NO,A.TIME_STAMP,C.TIME_STAMP 'CLOSE_DATE',
		DATEDIFF(MINUTE,A.TIME_STAMP,C.TIME_STAMP)'DURATION',A.COMPLAINT_NO,D.COMPLAINT_TYPE,E.SUB_COMPLAINT_TYPE 'SUB_COMPLAINT_TYPE',F.SOURCE_NAME 'COMPLAINT_SOURCE',A.REMARKS 
		FROM COMPLAINT A
		LEFT OUTER JOIN MST_OFFICE B
		ON A.OFFICE_CODE=B.OFFICE_ID 
		LEFT OUTER JOIN CLOSE_COMPLAINT C
		ON A.COMPLAINT_NO=C.COMPLAINT_NO
		LEFT OUTER JOIN MST_COMPLAINT_TYPE D
		ON A.COMPLAINT_TYPE=D.ID
		LEFT OUTER JOIN  MST_SUB_COMPLAINT_TYPE E
		ON A.SUB_COMPLAINT_TYPE=E.ID
		LEFT OUTER JOIN MST_COMPLAINT_SOURCE F
		ON A.COMPLAINT_SOURCE_ID=F.ID
		WHERE A.TIME_STAMP BETWEEN CASE WHEN ISNULL(@FROM_DATE,'')='' THEN '1900-01-01' ELSE @FROM_DATE END AND CASE WHEN ISNULL(@TO_DATE,'')='' THEN GETDATE() ELSE @TO_DATE END) A
		SELECT @TOTALRECORDS = COUNT(*) FROM #TEMP
		IF @MAXIMUMROWS= -1
			SET @MAXIMUMROWS=@TOTALRECORDS
		SELECT * FROM #TEMP ORDER BY COMPLAINT_NO ASC OFFSET @STARTROWINDEX ROWS FETCH NEXT @MAXIMUMROWS ROWS ONLY  
	END	
	ELSE
	BEGIN
		SELECT * INTO #TEMP1 FROM (
		SELECT ROW_NUMBER() OVER( ORDER BY A.TIME_STAMP) ROW_NUM,A.KNO,A.OFFICE_CODE,B.OFFICE_NAME SDO,A.NAME 'CONSUMER_NAME',A.MOBILE_NO,A.TIME_STAMP,C.TIME_STAMP 'CLOSE_DATE',
		DATEDIFF(MINUTE,A.TIME_STAMP,C.TIME_STAMP)'DURATION',A.COMPLAINT_NO,D.COMPLAINT_TYPE,E.SUB_COMPLAINT_TYPE 'SUB_COMPLAINT_TYPE',F.SOURCE_NAME 'COMPLAINT_SOURCE',A.REMARKS 
		FROM COMPLAINT A
		LEFT OUTER JOIN MST_OFFICE B
		ON A.OFFICE_CODE=B.OFFICE_ID 
		LEFT OUTER JOIN CLOSE_COMPLAINT C
		ON A.COMPLAINT_NO=C.COMPLAINT_NO
		LEFT OUTER JOIN MST_COMPLAINT_TYPE D
		ON A.COMPLAINT_TYPE=D.ID
		LEFT OUTER JOIN  MST_SUB_COMPLAINT_TYPE E
		ON A.SUB_COMPLAINT_TYPE=E.ID
		LEFT OUTER JOIN MST_COMPLAINT_SOURCE F
		ON A.COMPLAINT_SOURCE_ID=F.ID
		WHERE A.TIME_STAMP BETWEEN CASE WHEN ISNULL(@FROM_DATE,'')='' THEN '1900-01-01' ELSE @FROM_DATE END AND CASE WHEN ISNULL(@TO_DATE,'')='' THEN GETDATE() ELSE @TO_DATE END) A
		WHERE ROW_NUM<=@COUNT
		SELECT @TOTALRECORDS = COUNT(*) FROM #TEMP1
		IF @MAXIMUMROWS= -1
			SET @MAXIMUMROWS=@TOTALRECORDS
		SELECT * FROM #TEMP1 ORDER BY COMPLAINT_NO ASC OFFSET @STARTROWINDEX ROWS FETCH NEXT @MAXIMUMROWS ROWS ONLY
	END
END
